@model IEnumerable<Amor_na_Pele_Squad09_Entrega02.Models.CadastroEmpresa>

@{
    ViewData["Title"] = "Cadastrar Empresa";
}

<h1 class="titleCadastrarEmpresa">Seu cadastro</h1>
<!--Formulário-->
<div class="container bgtabela">
    <div class="cont">
        <table class="table">

            <tbody>
                @{ if (Model != null)
                    {
                        var cont = 0;
                        foreach (var i in Model)
                        {
                            cont++;
                        }
                        var test = 0;
                        foreach (var item in Model)
                        {
                            test++;
                            if (test == cont)
                            {
                                <tr>
                                    <th scope="row">Nome Completo</th>
                                    <td>@item.nomeParaContatoEmpresa</td>

                                </tr>
                                <tr>
                                    <th scope="row">CNPJ</th>
                                    <td>@item.Cnpj</td>

                                </tr>
                                <tr>
                                    <th scope="row">Razão social</th>
                                    <td>@item.RazaoSocial</td>

                                </tr>
                                <tr>
                                    <th scope="row">Telefone</th>
                                    <td>@item.NumeroTelefoneEmpresa</td>
                                </tr>
                                <tr>
                                    <th scope="row">Endereço de e-mail</th>
                                    <td>@item.emailEmpresa</td>
                                </tr>
                                <tr>
                                    <th scope="row">Estado</th>
                                    <td>@item.estado</td>
                                </tr>
                                <tr>
                                    <th scope="row">Cidade</th>
                                    <td>@item.cidade</td>
                                </tr>
                                <tr>
                                    <th scope="row">Endereço</th>
                                    <td>@item.endereco</td>
                                </tr>
                                <tr>
                                    <th scope="row">Especialidade do negócio</th>
                                    <td>@item.descricaoNegocio</td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
        <div>
            <a class="btn btn-dark" asp-action="Index">Confirmar</a>
            <a class="btn btn-dark" asp-action="editarEmpresa">Editar</a>
            <button class="btn btn-dark">Deletar</button>
        </div>
    </div>

</div>
